.bar
{
  width: 200px;
  height: 400px;
  perspective: 100px;
  -webkit-perspective: 100px;

  position: relative;
  bottom: 21.7em;
  z-index: 5;
}

.barbase
{
  background: lightyellow;
  width: 100%;
  height: 50%;
  border-radius: 40%;
  position: relative;
  top: 25%;
}

.barorbit
{
  width: 12%;
  height: 95%;
  background: gray;
  position: relative;
  left: 44%;
  top: 2.5%;
  border-radius: 40% / 10%;
}

.barhead
{
  width: 50%;
  height: 25%;
  position: relative;
  left: 25%;
  border-radius: 50%;
  background: red;
  top: -45%;
  transform: translatez(50px) scale(0.5, 0.5);
  -webkit-transform: translatez(50px) scale(0.5, 0.5);
}

.barpole
{
  width: 10%;
  height: 20%;
  background: brown;
  border-radius: 40% / 10%;
  position: relative;
  left: 45%;
}

.barpoleup
{
  top: -20%;
  transform: rotateX(-45deg);
  -webkit-transform: rotateX(-45deg);
}

.barpoledown
{
  top: -3%;
  transform: rotateX(45deg);
  -webkit-transform: rotateX(45deg);
}
