* {
	padding: 0;
	margin: 0;
}
button {
	font-size: 30px;
}
/*container*/
.container {
	
}

#menu-container {  
	width: 100%;
}
.top-bar {
	
	width: 100%;
	
	line-height: 70px;
	text-align: center;
	background-image:url(../images/setbar.jpg);
	font-size:26px;
	font-weight: 600;

}

/*main page*/
#selectMenu {
	width: 70%;
	font-size: 40px;
	position: relative;
	float: left;
}
#setting-button {
	position: relative;
	font-size: 40px;
	/*float: right;
	clear: both;*/
}
/*button*/
.top-button {
	position: absolute;
}
#back-game-button, #back-menu-button {
	left: 10px;
}
#add-menu-button {
	right: 10px
}
/*#save-menu-button {
	position: absolute;
	left: 50px;
	bottom: 20px;
}*/
/*#delete-menu-button {
	position: absolute;
	right: 50px;
	bottom: 20px;
}
*/
/*list*/
#menu-list {
	position: relative;
	background: #fcf6f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcf6f0 0%, #f1dcbf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf6f0), color-stop(100%,#f1dcbf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcf6f0 0%,#f1dcbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcf6f0 0%,#f1dcbf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcf6f0 0%,#f1dcbf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcf6f0 0%,#f1dcbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf6f0', endColorstr='#f1dcbf',GradientType=0 ); /* IE6-9 */
	height: 100%;
}
#menu-list div {
	border-bottom: 1px solid burlywood;
	padding: 20px 10px;
	font-size: 20px;
	color: #82561c;
	background-color: #f8eddf;
	cursor: pointer;

}
.deleteButton{
	float: right;
	line-height:40px;
	background-image: url(../images/delete.png);
	width:32px;
	height: 32px;
	cursor: pointer;
}
.listText{
	line-height:40px;
}
.addListBox{
	box-shadow: 2px 2px 2px #666;
	margin-top:10px;
	border: 3px solid #a26b23;
	width:99%;
	border-radius: 10px;

}
.inputBox{
	margin-top: 10px;
	position: relative;
	width: 98%;
	margin-left:1%;
}
#menu-title {
	position: relative;
	margin-top: 10px;


}
input{
	border: 2px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 10px; 
    outline:0; 
    height:50px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    font-size: 20px;
    width:99%;
}
#item-wrapper {
	padding: 0 10px;
	background: #fcf6f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcf6f0 0%, #f1dcbf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf6f0), color-stop(100%,#f1dcbf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcf6f0 0%,#f1dcbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcf6f0 0%,#f1dcbf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcf6f0 0%,#f1dcbf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcf6f0 0%,#f1dcbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf6f0', endColorstr='#f1dcbf',GradientType=0 ); /* IE6-9 */
}
#add-item-bar {
	position: absolute;
	top: 105px;
}
#add-item-bar input {
	font-size: 30px;
}
#add-item-bar button {
	font-size: 30px;
}
#item-list {
	position: relative;
	
	
	height: 60%;
	padding: 20px 10px;
	
	
#item-list div {
	border-bottom: 2px solid black;
	padding: 5px 10px;
	font-size: 30px;
}
#item-list button {
	float: right;
}